<section class="hero">
    <div class="container">
        <h1>Contato</h1>
        <p>Entre em contato conosco.</p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="mt-4">
                <input class="form-control mb-3" placeholder="Nome">
                <input class="form-control mb-3" placeholder="Email">
                <textarea class="form-control mb-3" rows="5" placeholder="Mensagem">
        </textarea>
                <button class="btn btn-primary">
                    Enviar
                </button>
            </form>
        </div>
    </div>
</div>