<section class="hero">
    <div class="container">
        <h1>URL Amigável com JavaScript Puro</h1>
        <p>Criando uma SPA sem framework.</p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-4">
                <h3>Rotas</h3>
                <p>Navegação sem recarregar a página.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4">
                <h3>Templates</h3>
                <p>HTML carregado dinamicamente.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-4">
                <h3>History API</h3>
                <p>URLs reais no navegador.</p>
            </div>
        </div>
    </div>
</div>