<section class="hero">
    <div class="container">
        <h1>Sobre</h1>
        <p>
            Você programa em Javascript? Então vai gostar disso!
        </p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-4">
                <h3>Quem Somos</h3>
                <p>
                    Desenvolvedores apaixonados por tecnologia.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4">
                <h3>Missão</h3>
                <p>
                    Compartilhar conhecimento.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4">
                <h3>Visão</h3>
                <p>Formar novos programadores.</p>
            </div>
        </div>
    </div>
</div>